//.image-container.scss
.image-container {
  max-width: 60em;
  height: 31.25em;
  margin: 0 auto;
  img {
    max-width: none;
  }
  h1 {
    margin: 0;
    padding: 0 0 0.325em 0.625em;
    font-family: 'Raleway', Georgia, serif;
    font-weight: 400;
    position: absolute;
    bottom: .325em;
    left: 0;
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    z-index: 1;
  }
}
