//.main-nav.scss

.main-nav {
  @include clearfix;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;

  ul {
    list-style-type: none;
  	margin: 0;
  	padding: .3em;
  }

  li {
    float: left;
  	margin-right: .325em;
  }

  li a {
    font-family: 'Raleway', Georgia, serif;
    display: block;
  	text-decoration: none;
  	color: $white;
    padding: 0.625em;
  }

  li ul {
    display: none;
  	position: absolute;
  	padding: 0;
  }

  li:hover ul {
    display: block;
  }

  li li {
    float: none;
  	background-color: $gray;
  }

  .home-main {
    &:hover {
      background-color: $black;
    }
  }

  .cause-main {
    &:hover {
      background-color: $red;
    }
  }

  .people-main {
    &:hover {
      background-color: $blue;
    }
  }
  .journey-main {
    &:hover {
      background-color: $yellow;
    }
  }
}
