//.page-header.scss

.page-header {
  @include clearfix;
  width: 100%;
  height: 50px;
  color: $white;
  background-color: $gray;
  position: relative;
  margin: 0;
  padding: 0;

  .main-nav {
    float: right;
  }

  h1 {
    font-family: 'Raleway', Georgia, serif;
    font-weight: 400;
    margin: 0.325em;
    padding-left: 0.625em;
  }
}
