//.page-header.scss

.page-header {
@include clearfix;
  width: 100%;
  color: $white;
  background-color: $gray;
  margin: 0;
  padding: 0;

  h1 {
    font-family: 'Raleway', Georgia, serif;
    font-weight: 400;
    margin: 0;
    padding: 0.325em 0 0 0.625em;
  }

  #logo {
    top: 12px;
    padding-left: 0.625em;
    float: left;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
