//.page-footer.scss

footer {
  @include clearfix;
  width: 100%;
  height: 3.125em;
  background-color: $gray;
  color: $white;
  margin: 0;
  padding: 0;
  .footer-menus {
    @include clearfix;
  }
  p {
    font-size: 0.8em;
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 300;
    margin: 0;
    padding: 0 0.625em 0.625em 0.625em;
    float: right;
  }
}
